@font-face {
  font-family: "primary-font";
  src: url("./assets/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "primary-font";
  src: url("./assets/fonts/static/Inter-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "primary-font";
  src: url("./assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
}

:root {
  --black: hsl(0, 0%, 8%);
  --dark: hsl(0, 0%, 12%);
  --gray: hsl(0, 0%, 20%);
  --white: hsl(0, 0%, 100%);

  --primary: hsl(75, 94%, 57%);
}

body {
  font-family: "primary-font";
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: auto;
  margin: 0 20px;
}

.card {
  padding: 20px;
}

.card-social {
  background-color: var(--dark);
  border-radius: 12px;
  width: 335px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.profile {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background-color: var(--black);
  overflow: "clip";
  font-size: 14px;
  margin-top: 15px;
}

.profile-name {
  color: var(--white);
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0 10px;
}

.profile-location {
  font-size: 14px;
  font-weight: 600;
  margin-top: 0;
  color: var(--primary);
}

.description {
  color: var(--white);
  font-size: 14px;
  margin-top: 25px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 25px 0;
  padding: 0 20px;

}

.link {
  border: none;
  cursor: pointer;
  width: 100%;
  color: var(--white);
  border-radius: 8px;
  box-shadow: none;
  padding: 15px;
  background-color: var(--gray);
  font-weight: 600;
}

.link:hover,
.link:active {
  background-color: var(--primary);
  color: var(--dark);
}

.attribution {
    color: var(--white);
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: var(--primary)
}
